body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,img,textarea{margin:0;padding:0;}
body{ margin:5px;-webkit-text-size-adjust: none; font-size:12px;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;white-space: nowrap;}
ul,ol,li{list-style: none;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:underline;}
.dtree p{ margin:7px 0;}
.dtree ul{ display:none;}
.dtree li a{ font-size:12px;vertical-align: middle;}
.container { width: 800px; margin: 0 auto; }

.autocomplete-w1 { position: absolute; top: 0px; left: 0px; }
.autocomplete { border: 1px solid #999; background: #FFF; cursor: default; text-align: left; max-height: 350px; overflow: auto; /* IE6 specific: */ _height: 350px; _margin: 0; _overflow-x: hidden; }
    .autocomplete .selected { background: #F0F0F0; }
    .autocomplete div { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete strong { font-weight: normal; color: #3399FF; }

#query { padding:4px; border: 1px solid #CCC; display:inline-block;width: 130px;margin-right: 3px;}
.dtree{}
.dtree h2{ font-size:12px; font-weight:normal;	display:inline-block;padding: 1px 2px;white-space: nowrap; vertical-align:middle; cursor:pointer;}
.dtree h2:hover{ text-decoration:underline;}
.dtree sup{ color:#F00; font-size:8px;}
img {border: 0px;vertical-align: middle;}
#butsoso{ width:36px; height:22px;height:24px\0; line-height:24px\0; }
del{ color:#999;}