@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,img,textarea{margin:0;padding:0;}
body{outline: 0;color:#333;text-align: left;vertical-align:baseline;font:12px/18px Verdana,Tahoma,Arial,sans-serif,"宋体";-webkit-text-size-adjust: none;}
h1,h2,h3,h4,h5{ font-size:12px; font-weight:normal;}
strong{font-weight: bold;}
img{border:none;}
ul,ol,li{list-style: none;}
a{ text-decoration:none;}
a,a:link,a:visited{color:rgb(79,129,189);}
a:active{color:black;}
a:hover{color:white;background: rgb(79,129,189);}
.clear {clear:both;}
#content{margin-bottom: 10px;}
ul,ol{margin-left: 15px;}
hr{width: 95%;margin: 0 auto;border:1px solid #aaa;}
sup{ background:#FFFF00; color:#000000;border-radius:5px;}
#content blockquote {border: 1px dotted #4F81BD;}
#content ul li{margin-left: 15px;list-style: disc;}
#content ol li{margin-left: 15px;list-style: decimal;}
#content p{text-indent: 24px;margin-left: 5px;}
#content h2{margin: 5px auto;padding: 5px;background:rgb(79,129,189);color: #fff;font-weight: bold;font-size: 14px;}
#content h2 span{color:#f0f0f0;float:right; font-size:12px; font-weight:normal;}
#content h3{margin: 5px auto;padding: 5px;background: rgb(149,179,215);color: #fff;}
#content h3 em{ float:right;}
#content h3 .version{ float:right; color:#000;}
#content .example h4{margin: 5px auto;margin-left: 5px;padding: 5px;background: rgb(219,229,241);}
#content .parameter{ padding:0 2px 5px; background-color:#F4F6F9;}
#content .parameter h4{ border-bottom:1px solid #aaa; color:#444; padding:5px;}
#content .parameter p{ color:#333;margin: 5px 0;}
#content h4 strong,#content h4 span,#content h4 em{ width:100%; display:inline-block;}
#content h4 strong{}
#content h4 strong em{ color:#000;padding-left: 5px;}

#content h4 span em{ color:#666; padding-left:20px;}
#content h4 em{  color:#999;}/*06C*/
#content .desc p{font-size: 14px;}
#content .longdesc p{font-size: 12px;line-height:1.5;margin:10px 0;}
#content .longdesc strong{font-size: 14px;}
#content .longdesc a{font-size: 12px;}
#content .longdesc{margin-top: 5px;}
#content pre{margin: 10px;padding: 10px;border: 1px dashed rgb(79,129,189);display:block;}
pre,h4{
white-space:pre-wrap; /* css3.0 */
white-space:-moz-pre-wrap; /* Firefox */
white-space:-pre-wrap; /* Opera 4-6 */
white-space:-o-pre-wrap; /* Opera 7 */
word-wrap:break-word; /* Internet Explorer 5.5+ */	
}
em.optional{color: #999;}
.navigation{ border-top:1px solid #95B3D7; overflow:hidden; font-size:14px; padding-top:5px;zoom:1;line-height: 18px;clear: both; margin-top:5px;}
.navigation .alignleft,.navigation .alignright{ width:100%;width:auto\9;}
.navigation .alignleft{ float:left;}
.navigation .alignright{ float:right;}
#content h2 em.optional{color:#eee;}
.return{ padding-top:5px; color:#666; overflow: hidden;zoom:1;font-size:14px; }
.return a{ float:left;font-size:14px; margin-top:2px\9;}
.return .m{ display:block;}
.return .pc{ display:none;}
.return .retLeft{ float:left;}
.return .retRight{ float:right; display:none;display:block\9;}
.return .retRight a{ color:#900;}
.return .retRight a:hover{ color:#FFF; background-color:#900;}
#content{width: 680px\9;padding:0 10px\9;}
#content h4 strong{width:320px\9;}
#content h4 span{width:294px\9;}
#content h4 em{width:51px\9;}
.return .m{ display:none\9;}
.return .pc{ display:block\9;}

@media(min-width:800px) {
.return .retRight{
	display:block;
}
.navigation .alignleft,.navigation .alignright{
	 width:inherit!important;
}
#content{
	width: 680px!important;
	padding:0 10px!important;
}
#content h4 strong{
	width:320px!important;
}
#content h4 span{
	width:294px!important;
}
#content h4 em{
	width:51px!important;
}
.return .m{ display:none!important;}
.return .pc{ display:block!important;}

}

._th th{font-size:18px; color:#000;background: #DBE5F1;text-align: center;}
.gray{ background:#F4F4F4;text-decoration : line-through;
}
em.t{ background-color: #EEEEEE; font-size:13px; font-style:normal;}
table.html5table {
	width:100%;
	margin-bottom: 10px;
}
table.wikitable {background:#F9F9F9;border: 1px solid #96B2D3;border-collapse: collapse;color: black;}
.wikitable th, .wikitable td {border: 1px solid #96B2D3;}
.wikitable tr:hover{ background:#EAF0F7;}
.wikitable td{ line-height:20px;padding: 5px 8px;}
.wikitable th {padding: 4px;font-weight:normal;background: #DBE5F1;text-align: center;}
.wikitable p {line-height: 1.5em;margin: 0.4em 0 0.5em;}
h1.bt{ font-weight:normal; text-align:center; background:#4F81BD; color:#FFF; font-family:"黑体";padding:8px 0; margin:5px 0; font-size:27px;}
#load{ vertical-align:middle; margin-left:5px;}
.red{ color:red;}
#formbug table{ margin:0 auto;}
#formbug table th{ font-weight:normal; text-align:center; }

.longdesc h4{ background-color:#FFF!important; font-weight:bold;}
.qqgrouptext{  border: 1px solid #CCCCCC;border-radius: 2px 2px 2px 2px;margin-left: 10px;
padding: 4px;vertical-align: 8px; }
.plus_arr{background:url(../img/fl_jt.jpg) no-repeat; position:absolute; left:376px; top:8px;}